## Demo SQL Server
In this section, we learn how to manipulate data on SQL Server.

Required:
pip install pyodbc

We cover:
* CRUD operations
* Table to Dataframe

In [ ]:
# ubuntu: sudo apt-get install unixodbc-dev from the terminal

!pip3 install pyodbc

Collecting pyodbc
  Using cached pyodbc-4.0.30.tar.gz (266 kB)
Building wheels for collected packages: pyodbc
  Building wheel for pyodbc (setup.py) ... done
  Created wheel for pyodbc: filename=pyodbc-4.0.30-cp38-cp38-linux_x86_64.whl size=349385 sha256=0f65098da4554f93b9a31dc8220d86b7d748b6786a1e586ac0b442a1fc8268c1
  Stored in directory: /home/agusk/.cache/pip/wheels/0e/6c/b9/4349f7ee206f997dcde5675372aed185a788729278ad749953
Successfully built pyodbc
Installing collected packages: pyodbc
Successfully installed pyodbc-4.0.30

### CRUD - SQL Server

In [3]:
import pyodbc 
from datetime import datetime

In [4]:
# ODBC driver
# https://docs.microsoft.com/en-us/sql/connect/odbc/linux-mac/installing-the-microsoft-odbc-driver-for-sql-server?view=sql-server-ver15#ubuntu17

server = 'localhost' 
database = 'pydb' 
username = 'sa' 
password = 'Pass@word123' 

def open_database():
    print('Connecting to SQL Server with ODBC driver')
    connection_string = 'DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password
    cnxn = pyodbc.connect(connection_string)
    print('connected')

    return cnxn

In [23]:
cnx = open_database()

Connecting to SQL Server with ODBC driver
connected

In [6]:
def create_table(conn):
    cursor = conn.cursor()
    print('create table...')
    
    sql = """CREATE TABLE product (     
            id int IDENTITY(1,1) PRIMARY KEY,
            name varchar(45) NOT NULL,
            code varchar(10) NOT NULL,
            price float NOT NULL,
            quantity int NOT NULL,
            created datetime NOT NULL);"""
    
    cursor.execute(sql)
    cursor.close()
    print('done')

In [7]:
create_table(cnx)

create table...
done

In [8]:
def create_data(conn):    
    print('inserting data...')
    cursor = conn.cursor()
    for i in range(1,5):    
        with conn.cursor() as cursor: 
            insert_product = ("INSERT INTO product "
                       "(name, code, price, quantity, created) OUTPUT INSERTED.id "
                       "VALUES (?, ?, ?, ?, getdate())")
            data_product = ("product " + str(i), "F029" + str(i), i*0.21, i,)
            cursor.execute(insert_product, data_product)
            product_id = cursor.fetchone()[0] 
            print('inserted with id=',product_id)  

    conn.commit()      
    print('done')

In [24]:
create_data(cnx)

inserting data...
inserted with id= 5
inserted with id= 6
inserted with id= 7
inserted with id= 8
done

In [10]:
def read_data(conn):
    print('reading data....')
    selected_id = 0
    cursor = conn.cursor()
    query = "SELECT id, name, code, price, quantity, created FROM product"
    cursor.execute(query)
    for (id, name, code, price, quantity, created) in cursor:
        print("{}, {}, {}, {}, {}, {:%d %b %Y %H:%M:%S}".format(
                id, name, code, price, quantity, created))
        if selected_id <= 0:
            selected_id = id

    cursor.close()
    print('done')

    return selected_id

In [11]:
selected_id = read_data(cnx)

reading data....
1, product 1, F0291, 0.21, 1, 27 Mar 2021 03:42:02
2, product 2, F0292, 0.42, 2, 27 Mar 2021 03:42:02
3, product 3, F0293, 0.63, 3, 27 Mar 2021 03:42:02
4, product 4, F0294, 0.84, 4, 27 Mar 2021 03:42:02
done

In [12]:
def update_data(conn, id):
    print('updating data with idproduct=', id, '...')
    cursor = conn.cursor()
    query = "UPDATE product SET name=?, code=?, price=?, quantity=?, created=? where id=?"
    name = 'updated-name'
    code = 'F9999'
    price = 0.99
    quantity = 10
    created = datetime.now()
    cursor.execute(query, (name, code, price, quantity, created, id))
    cursor.close()
    print('done')

In [13]:
update_data(cnx, selected_id)

updating data with idproduct= 1 ...
done

In [14]:
read_data(cnx)

reading data....
1, updated-name, F9999, 0.99, 10, 27 Mar 2021 03:44:57
2, product 2, F0292, 0.42, 2, 27 Mar 2021 03:42:02
3, product 3, F0293, 0.63, 3, 27 Mar 2021 03:42:02
4, product 4, F0294, 0.84, 4, 27 Mar 2021 03:42:02
done

1

In [15]:
def delete_data(conn, id):
    print('deleting data on idproduct=', id, '...')
    cursor = conn.cursor()
    query = "DELETE FROM product where id = ? "
    cursor.execute(query, (id,))
    conn.commit()
    cursor.close()
    print('done')

In [16]:
delete_data(cnx, selected_id)

deleting data on idproduct= 1 ...
done

In [17]:
read_data(cnx)

reading data....
2, product 2, F0292, 0.42, 2, 27 Mar 2021 03:42:02
3, product 3, F0293, 0.63, 3, 27 Mar 2021 03:42:02
4, product 4, F0294, 0.84, 4, 27 Mar 2021 03:42:02
done

2

In [18]:
def delete_all(conn):
    print('deleting all data....')
    cursor = conn.cursor()
    query = "DELETE FROM product"
    cursor.execute(query)
    conn.commit()
    cursor.close()
    print('done')

In [19]:
delete_all(cnx)

deleting all data....
done

In [20]:
read_data(cnx)

reading data....
done

0

In [21]:
cnx.close()
print('closed connection')

closed connection

## SQL Server - Pandas


Required: pip install sqlalchemy

In [22]:
!pip3 install sqlalchemy

Requirement already satisfied: sqlalchemy in /home/agusk/.local/lib/python3.8/site-packages (1.4.1)
Requirement already satisfied: greenlet!=0.4.17; python_version >= "3" in /home/agusk/.local/lib/python3.8/site-packages (from sqlalchemy) (1.0.0)

In [25]:
# load MySQL table to pandas
import pandas as pd

df = pd.read_sql_query("select * from product", cnx)
df

   id       name   code  price  quantity                 created
0   5  product 1  F0291   0.21         1 2021-03-27 03:46:51.167
1   6  product 2  F0292   0.42         2 2021-03-27 03:46:51.177
2   7  product 3  F0293   0.63         3 2021-03-27 03:46:51.193
3   8  product 4  F0294   0.84         4 2021-03-27 03:46:51.200

In [26]:
# connection string
# mssql+pyodbc://<user>:<password>@<host>[:<port>]/<dbname>

import pandas as pd
import sqlalchemy

# Create the engine to connect to the SQL Server database
strconn = 'mssql+pyodbc://sa:Pass@word123@localhost:1433/pydb?driver=ODBC+Driver+17+for+SQL+Server'
engine = sqlalchemy.create_engine(strconn)

In [27]:
products = {'name': ['Product A1', 'Product A2', 'Product A3'],           
            'code': ['E01', 'E02', 'E03'],
            'price': [2.1, 3.6, 3.5],
            'quantity': [5, 7, 3],
            'created': ['2020-10-18 20:12:21', '2020-10-18 20:12:21', '2020-10-18 20:12:21']
           }

dataFrame   = pd.DataFrame(data=products) 
dataFrame

         name code  price  quantity              created
0  Product A1  E01    2.1         5  2020-10-18 20:12:21
1  Product A2  E02    3.6         7  2020-10-18 20:12:21
2  Product A3  E03    3.5         3  2020-10-18 20:12:21

In [28]:
tableName = 'exproduct'
dataFrame.to_sql(tableName, con=engine,index=False, if_exists='append')

In [29]:
df = pd.read_sql('SELECT * FROM exproduct', engine)
df

         name code  price  quantity              created
0  Product A1  E01    2.1         5  2020-10-18 20:12:21
1  Product A2  E02    3.6         7  2020-10-18 20:12:21
2  Product A3  E03    3.5         3  2020-10-18 20:12:21

## Drop Table

In [30]:
# Delete table
cursor = cnx.cursor()
cursor.execute("drop table if exists product ")
cnx.commit()
cursor.execute("drop table if exists exproduct ")
cnx.commit()

In [31]:
cnx.close()
print('closed connection')

closed connection