## Demo MySQL
In this section, we learn how to manipulate data on MySQL.

Required:
pip install mysql-connector-python 

We cover:
* CRUD operations
* Table to Dataframe

In [1]:
!pip3 install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.23-cp38-cp38-manylinux1_x86_64.whl (18.0 MB)
     |████████████████████████████████| 18.0 MB 15.7 MB/s eta 0:00:01
Collecting protobuf>=3.0.0
  Downloading protobuf-3.15.6-cp38-cp38-manylinux1_x86_64.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 47.4 MB/s eta 0:00:01
Requirement already satisfied: six>=1.9 in /usr/lib/python3/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (1.14.0)
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.23 protobuf-3.15.6

### CRUD - MySQL

In [4]:
import mysql.connector
from datetime import datetime

In [22]:
print('connecting to mysql server...')
cnx = mysql.connector.connect(user='agusk',
                              password='4KuR!N1+wan#1',
                              host='127.0.0.1',
                              database='pydb')
print('connected')

connecting to mysql server...
connected

In [6]:
def create_table(conn):
    cursor = conn.cursor()
    print('create table...')
    
    sql = """CREATE TABLE IF NOT EXISTS product (     
            id int(11) NOT NULL AUTO_INCREMENT, 
            name varchar(45) NOT NULL,
            code varchar(10) NOT NULL,
            price float NOT NULL,
            quantity int NOT NULL,
            created datetime NOT NULL,
            PRIMARY KEY (id));"""
    
    cursor.execute(sql)
    conn.commit()
    cursor.close()
    print('done')

In [7]:
create_table(cnx)

create table...
done

In [25]:
def create_data(conn):
    cursor = conn.cursor()
    print('inserting data...')
    for i in range(1,5):
        insert_product = ("INSERT INTO product "
                   "(name, code, price, quantity, created) "
                   "VALUES (%s, %s, %s, %s, %s)")
        data_product = ("product " + str(i), "F029" + str(i), i*0.21, i, datetime.now())
        cursor.execute(insert_product, data_product)
        product_id = cursor.lastrowid
        print('inserted with id=',product_id)

    conn.commit()
    cursor.close()
    print('done')

In [26]:
create_data(cnx)

inserting data...
inserted with id= 5
inserted with id= 6
inserted with id= 7
inserted with id= 8
done

In [10]:
def read_data(conn):
    print('reading data....')
    selected_id = 0
    cursor = conn.cursor()
    query = "SELECT id, name, code, price, quantity, created FROM product"
    cursor.execute(query)
    for (id, name, code, price, quantity, created) in cursor:
        print("{}, {}, {}, {}, {}, {:%d %b %Y %H:%M:%S}".format(
                id, name, code, price, quantity, created))
        if selected_id <= 0:
            selected_id = id

    cursor.close()
    print('done')

    return selected_id

In [11]:
selected_id = read_data(cnx)

reading data....
1, product 1, F0291, 0.21, 1, 18 Mar 2021 04:28:31
2, product 2, F0292, 0.42, 2, 18 Mar 2021 04:28:31
3, product 3, F0293, 0.63, 3, 18 Mar 2021 04:28:31
4, product 4, F0294, 0.84, 4, 18 Mar 2021 04:28:31
done

In [12]:
def update_data(conn, id):
    print('updating data with idproduct=', id, '...')
    cursor = conn.cursor()
    query = "UPDATE product SET name=%s, code=%s, price=%s, quantity=%s, created=%s where id=%s"
    name = 'updated-name'
    code = 'F9999'
    price = 0.99
    quantity = 10
    created = datetime.now()
    cursor.execute(query, (name, code, price, quantity, created, id))
    conn.commit()
    cursor.close()
    print('done')

In [13]:
update_data(cnx, selected_id)

updating data with idproduct= 1 ...
done

In [14]:
read_data(cnx)

reading data....
1, updated-name, F9999, 0.99, 10, 18 Mar 2021 04:29:52
2, product 2, F0292, 0.42, 2, 18 Mar 2021 04:28:31
3, product 3, F0293, 0.63, 3, 18 Mar 2021 04:28:31
4, product 4, F0294, 0.84, 4, 18 Mar 2021 04:28:31
done

1

In [15]:
def delete_data(conn, id):
    print('deleting data on idproduct=', id, '...')
    cursor = conn.cursor()
    query = "DELETE FROM product where id = %s "
    cursor.execute(query, (id,))
    conn.commit()
    cursor.close()
    print('done')

In [16]:
delete_data(cnx, selected_id)

deleting data on idproduct= 1 ...
done

In [17]:
read_data(cnx)

reading data....
2, product 2, F0292, 0.42, 2, 18 Mar 2021 04:28:31
3, product 3, F0293, 0.63, 3, 18 Mar 2021 04:28:31
4, product 4, F0294, 0.84, 4, 18 Mar 2021 04:28:31
done

2

In [18]:
def delete_all(conn):
    print('deleting all data....')
    cursor = conn.cursor()
    query = "DELETE FROM product"
    cursor.execute(query)
    conn.commit()
    cursor.close()
    print('done')

In [19]:
delete_all(cnx)

deleting all data....
done

In [20]:
read_data(cnx)

reading data....
done

0

In [21]:
cnx.close()
print('closed connection')

closed connection

## MySQL - Pandas


Required: pip install sqlalchemy

In [50]:
!pip3 install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-1.4.1-cp38-cp38-manylinux2014_x86_64.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 10.1 MB/s eta 0:00:01
Collecting greenlet!=0.4.17; python_version >= "3"
  Downloading greenlet-1.0.0-cp38-cp38-manylinux2010_x86_64.whl (165 kB)
     |████████████████████████████████| 165 kB 68.5 MB/s eta 0:00:01
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-1.0.0 sqlalchemy-1.4.1

In [27]:
# load MySQL table to pandas
import pandas as pd

df = pd.read_sql_query("select * from product", cnx)
df

   id       name   code  price  quantity             created
0   5  product 1  F0291   0.21         1 2021-03-18 04:38:05
1   6  product 2  F0292   0.42         2 2021-03-18 04:38:05
2   7  product 3  F0293   0.63         3 2021-03-18 04:38:05
3   8  product 4  F0294   0.84         4 2021-03-18 04:38:05

In [28]:
# connection string
# mysql+mysqlconnector://<user>:<password>@<host>[:<port>]/<dbname>

import pandas as pd
import sqlalchemy

# Create the engine to connect to the MySQL database
strconn = 'mysql+mysqlconnector://agusk:4KuR!N1+wan#1@localhost:3306/pydb'
engine = sqlalchemy.create_engine(strconn)

In [29]:
products = {'name': ['Product A1', 'Product A2', 'Product A3'],           
            'code': ['E01', 'E02', 'E03'],
            'price': [2.1, 3.6, 3.5],
            'quantity': [5, 7, 3],
            'created': ['2020-10-18 20:12:21', '2020-10-18 20:12:21', '2020-10-18 20:12:21']
           }

dataFrame   = pd.DataFrame(data=products) 
dataFrame

         name code  price  quantity              created
0  Product A1  E01    2.1         5  2020-10-18 20:12:21
1  Product A2  E02    3.6         7  2020-10-18 20:12:21
2  Product A3  E03    3.5         3  2020-10-18 20:12:21

In [30]:
tableName = 'exproduct'
dataFrame.to_sql(tableName, con=engine,index=False, if_exists='append')

In [31]:
df = pd.read_sql('SELECT * FROM exproduct', engine)
df

         name code  price  quantity              created
0  Product A1  E01    2.1         5  2020-10-18 20:12:21
1  Product A2  E02    3.6         7  2020-10-18 20:12:21
2  Product A3  E03    3.5         3  2020-10-18 20:12:21

## Drop Table

In [32]:
# Delete table
cursor = cnx.cursor()
cursor.execute("drop table if exists product ")
cnx.commit()
cursor.execute("drop table if exists exproduct ")
cnx.commit()